<div class="nav">
  <div class="w">
    <div class="user-info">
      <span class="user not-login">
        <span class="link js-login">登陆</span>
        <span class="link js-register">Sigin Up</span>

      </span>
      <span class="user login">
        <span class="link-text">Welcome,<span class="username"></span></span>
        <span class="link js-logout">Quit</span>

      </span>
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a  class="link" href="./cart.html">
          <i class="fa fa-shopping-cart"></i>
          shopcart(<span class="cart-count">0</span>)

        </a>

      </li>
      <li class="nav-item">
        <a href="./order-list.html" class="link">my order list</a>
      </li>
      <li class="nav-item">
        <a href="./user-center.html" class="link">my MMall</a>
      </li>
      <li class="nav-item">
        <a href="./about.html" class="link">about MMall</a>
      </li>

    </ul>
  </div>
</div>
